#chart {
  width: 1000px;
  height: 400px;
  background-color: lightgoldenrodyellow;
  margin: 25px auto;
}

.x-axis path, .x-axis line {
  shape-rendering: crispEdges;
}

.x-axis text {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}