#chart{
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    margin: 25px auto;
}
.bar{
    display: inline-block;
    width: 25px;
    height: 300px;
    background-color: #7ED26D;
    margin-right: 5px;
}

button{
    width: 200px;
    height: 40px;
    background-color: #006bb6;
    font-size: 2vh;
    color: white;
    display: block;
    margin: 0 auto;
}